.wrapper {
	display: grid;

	width: 100%;
	justify-items: left;
	height: 100vh;
	grid-template-rows: 1fr auto;
}

.textDiv {
	display: grid;

	width: 100%;
	height: fit-content;
	margin-bottom: 60px;
	gap: 30px;
}

.textDiv > div {
	margin-left: 60px;
}

.text {
	width: 80% !important;
	margin-left: 60px !important;
}

@media (max-width: 580px) {
	.textDiv > div {
		display: grid;

		width: 100%;
		margin-left: 0;
		padding: 0 10px;
		justify-items: center;
	}

	.text {
		width: 80% !important;
		margin-left: 20px !important;
	}
}
