.productionBlock {
	position: relative;

	display: grid;
	align-items: center;

	width: 100%;
	height: fit-content;
	padding: 100px 0;

	background: var(--dark);
	justify-items: center;
	grid-template-rows: auto 1fr;
	gap: 100px;
}

.productionTitle {
	color: var(--white);
}

.learnMore {
	padding: 20px 30px;

	cursor: pointer;
	transition-duration: 300ms;

	color: var(--second);
	border-radius: 9999px;
}

.learnMore:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--white);
	background: var(--primary);
}

.square1,
.square2,
.square3 {
	position: absolute;

	background: var(--white);
}

.square1 {
	top: 0;
	left: 0;

	width: 10%;
	height: 10%;
}

.square2 {
	top: 0;
	left: 10%;

	width: 5%;
	height: 5%;
}

.square3 {
	top: 10%;
	left: 0;

	width: 5%;
	height: 3%;
}

.square4 {
	position: absolute;
	top: 0;
	left: 0;

	width: 5%;
	height: 5%;

	background: var(--dark);
}

.square5 {
	position: absolute;
	top: 0;
	right: 2%;

	width: 3%;
	height: 10%;

	background: var(--primary);
}

@media (min-width: 1024px) {
	.learnMore:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--white);
		background: var(--primary);
	}
}

@media (max-width: 1024px) {
	.productionBlock {
		padding: 80px 0;
		gap: 80px;
	}
}

@media (max-width: 580px) {
	.productionBlock {
		padding: 60px 0;
		gap: 60px;
	}
}
