.wrapper {
	display: grid;

	width: 100%;
	justify-items: left;
	height: 100vh;
	grid-template-rows: 1fr auto;
}

.textDiv {
	display: grid;

	width: 100%;
	height: fit-content;
	margin-bottom: 60px;
	gap: 30px;
}

.text {
	width: 80%;
	margin-left: 60px;
}

@media (max-width: 580px) {
	.text {
		margin-left: 20px !important;
	}
}
