.footer {
	position: relative;

	display: grid;
	align-self: end;

	width: 100%;
	height: fit-content;
	padding: 20px 0;

	background: var(--primary);
}

.footerBottomText {
	margin-left: 20px;

	color: var(--white);
}
